/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <125>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&mo 4           &kp Q  &kp W           &kp E               &kp R               &kp T                                 &kp Y                                &kp U                &kp I                &kp O            &kp P  &none
&kp TAB         &kp A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_COMMAND F  &kp G                                 &kp H                                &mt RIGHT_COMMAND J  &mt RIGHT_CONTROL K  &mt RIGHT_ALT L  &none  &none
&kp LEFT_SHIFT  &kp Z  &kp X           &kp C               &kp V               &kp B                                 &kp N                                &kp M                &none                &none            &none  &kp RIGHT_SHIFT
                                       &mo 1               &lt 3 ESC           &mt LS(LA(LC(LEFT_COMMAND))) ENTER    &mt RS(RA(RC(RIGHT_COMMAND))) SPACE  &kp BACKSPACE        &mo 2
            >;
        };

        RightSymbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none           &none  &none         &none      &none     &none    &kp QUESTION       &kp AMPS          &kp ASTRK      &kp PLUS          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&none           &none  &kp LEFT_ALT  &kp LCTRL  &kp LGUI  &none    &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE  &kp COMMA      &kp MINUS         &kp LEFT_BRACE        &kp RIGHT_BRACE
&kp LEFT_SHIFT  &none  &none         &none      &none     &none    &kp SEMI           &kp COLON         &kp LESS_THAN  &kp GREATER_THAN  &kp LEFT_BRACKET      &kp RIGHT_BRACKET
                                     &trans     &none     &none    &none              &kp BACKSPACE     &kp PERIOD
            >;
        };

        LeftSymbols {
            bindings = <
&kp GRAVE  &kp EXCLAMATION  &kp AT_SIGN  &kp POUND  &kp DOLLAR  &kp PERCENT    &none  &none              &none              &none          &none  &none
&none      &none            &none        &none      &none       &none          &none  &kp RIGHT_COMMAND  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &none  &none
&none      &none            &none        &none      &none       &none          &none  &none              &none              &none          &none  &kp RIGHT_SHIFT
                                         &none      &none       &none          &none  &none              &trans
            >;
        };

        Navigation {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp F1          &kp F2  &kp F3        &kp F4            &kp F5            &kp F6    &kp F7    &kp F8         &kp F9       &kp F10    &kp F11  &kp F12
&trans          &trans  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_COMMAND  &trans    &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &none    &none
&kp LEFT_SHIFT  &trans  &trans        &trans            &trans            &trans    &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &none    &kp RIGHT_SHIFT
                                      &trans            &trans            &trans    &trans    &trans         &trans
            >;
        };

        Extras {
            bindings = <
&trans          &none  &none  &none  &none    &none        &kp N7        &kp N8        &kp N9        &none  &none  &none
&none           &none  &none  &none  &none    &none        &kp NUMBER_4  &kp N5        &kp NUMBER_6  &none  &none  &none
&kp LEFT_SHIFT  &none  &none  &none  &none    &none        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none  &none  &none
                              &none  &kp ESC  &kp ENTER    &none         &kp N0        &kp DOT
            >;
        };
    };
};
